.gridPane {
    -fx-background-color: #DEEEF6;
}

.button {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}